<form name="form" #registerForm="ngForm" (ngSubmit)="registerForm.form.valid && register()" [mustMatch]="['password', 'confirmPassword']" validate>
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>

  <div class="form-group">
    <input type="text" class="form-control" required name="usename" placeholder="Username"
      [(ngModel)]="model.user.username">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" required name="email" placeholder="email" [(ngModel)]="model.user.email">
  </div>

  <div class="form-group">
    <input type="password" class="form-control" required name="password" placeholder="Password"
      [(ngModel)]="model.user.password">
  </div>
  <div class="form-group">
    <input type="password" class="form-control"  name="confirmPassword" placeholder="Confirm password" [(ngModel)]="model.user.confirmPassword" required>
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success" type="submit" [disabled]="!registerForm.form.valid">Register</button>
    <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
  </div>

</form>